@media screen and (min-width:0px) {
    .input1 {
        width: 60px;
        margin: 0 1px;
        font-size: 12px;

    }

    .button1 {
        padding: 0;
        width: 60px;
        margin: 0 1px;
        font-size: 12px;
    }

    .button2 {
        padding: 0;
        width: 120px;
        margin: 0 1px;
        font-size: 12px;
    }

    // .icon1{
    //     padding: 0;
    //     text-align: left;
    // }
}

@media screen and (min-width:1024px) {
    .input1 {
        width: 80px;
        margin: 0 3px;
        font-size: 12px;

    }

    .button1 {
        padding: 0;
        width: 70px;
        margin: 0 3px;
        font-size: 12px;
    }

    .button2 {
        padding: 0;
        width: 135px;
        margin: 0 3px;
        font-size: 12px;
        text-emphasis: size 12px;
        ;
    }
}

@media screen and (min-width:1280px) {
    .input1 {
        width: 100px;
        margin: 0 5px;
        font-size: 12px;

    }

    .button1 {
        padding: 0;
        width: 70px;
        margin: 0 5px;
        font-size: 15px;
    }

    .button2 {
        padding: 0;
        width: 140px;
        margin: 0 5px;
        font-size: 15px;
    }
}

@media screen and (min-width:1440px) {
    .input1 {
        width: 120px;
        margin: 0 8px;
        font-size: 12px;

    }

    .button1 {
        padding: 0;
        width: 80px;
        margin: 0 8px;
        font-size: 15px;
    }

    .button2 {
        padding: 0;
        width: 150px;
        margin: 0 8px;
        font-size: 15px;
    }
}

@media screen and (min-width:1680px) {
    .input1 {
        width: 150px;
        margin: 0 18px;
        font-size: 15px;
        height: 32px;
    }

    .button1 {
        padding: 0;
        width: 90px;
        margin: 0 15px;
        font-size: 16px;
        line-height: 25px;
    }

    .button2 {
        padding: 0;
        width: 180px;
        margin: 0 15px;
        font-size: 16px;
    }
}

.modal1 {
    height: 700px;
    width: 600px;
}


// .modal-body {
//     width: 100%;

//     padding-bottom: 30px;
//     overflow-y: scroll;
// }

// .modal-body::-webkit-scrollbar {
//     display: none;//chrome隐藏滑动条
// }
// .modal-body{
//     /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
//     -ms-overflow-style:none;
//     /*火狐下隐藏滚动条*/
//     overflow:-moz-scrollbars-none;
//   }



.modal-input {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.option1 {
    width: 60%;
    margin-right: 30px;
}