//按钮默认类型的背景颜色和边框颜色
.ant-btn-primary {
    background: #f05d73;
    border-color: #f05d73;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    // color: black;
    background-color: #f79ca9;
}


//按钮选中时的样式
.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background: #f05d73;
    border-color: #ece3e3;
}

// checkbox选中时的样式
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #f05d73;
    border-color: #fff;
}

//表格下分页栏点击时样式
.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a {
    background: #f596a5;
    color: #ffffff;
}

.ant-pagination-item-active a {
    background: #f596a5;
    color: #ffffff;
}
.ant-pagination-next:hover .ant-pagination-item-link {
    color: #0e0e0e;
}

//

//分页上方加灰色分割线
.ant-pagination{
    border-top: gray 3px solid;
    margin-top: 50px;
     padding-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
//始终处于页面底部
// .ant-table-pagination.ant-pagination {
//     // margin: 16px 0 0 0;
//     position: absolute;
    
//     // z-index: 99999;
//     width: 85%;

    
//     // height: 60px;
//     margin-bottom:0px;
// }
