.layout {
  height: 100%;
}
.layout-all{
  height: 100%;
  overflow-y: auto;
  min-height: 1030px;
}
.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content{
  overflow-y: hidden;
}


// .ant-layout-content {
//   min-height: auto;
// }


.ant-pagination-item-active a {
  color: #f8f8f9;
}

.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a {
  color: #ffffff;
}


.ant-modal-header {
  padding: 16px 24px;
  color: white;
  background: #f05d73;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.ant-modal-title {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  word-wrap: break-word;
}
.ant-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  padding: 0;
  color: white;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
//滚动条隐藏,滚动条17px



.ant-menu-item{
  display: block;
  padding: 0;
}