 .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
 .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .left-nav {
      background-color:#f05d73 ;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color:#f05d73;
}


.ant-layout-content {
  flex: auto;
  min-height: 1000;
}
